<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body ng-cloak>
    {{#if user}}
    <div class="text-right">
      <span><a href="/">首页</a></span>
      <span class="label label-info">{{@user.name}}</span>
      <span>
        <a href="/user/index.html?userId={{@user._id}}">账号管理</a>&nbsp;|&nbsp;<a href="/login.html?loginout=true">登出</a>
      </span>
    </div>
    <br>
    {{/if}}
    {{{body}}}
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
	  {{#each js}}
		<script type="text/javascript" src="{{this}}"></script>
    {{/each}}
  </body>
</html>
